body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  height: 100px;
  aspect-ratio: 3/1;
  font-size: 40px;
  border: 5px solid black;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: black;
  color: white;
}
